<!DOCTYPE html>
<html lang="en">

<head>
	<title>About</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<div class="bg-image">
		<br>
		<br>
		<br>

		<div class="container-medium">
			<div id="boxed">
				<h3 style="text-align: center">About</h3>

				<div>
					<h4>
						This web application is a part of a bachelor thesis and should not be considered production
						ready software.
					</h4>
					<h4><br>
						<ul class="list-group">
							<li class="list-group-item">The source code for the web application can be accessed <a
									href="https://github.com/SanderBlom/PoolFrontend">here</a></li>
							<li class="list-group-item">The source code for the desktop application (vision system) can
								be accessed <a href="https://github.com/hagru/PoolBachelor">here</a></li>
						</ul>
					</h4>
					<h4>The project has been developed by:</h4>
					<ul class="list-group">
						<li class="list-group-item">Sander Blomvågnes <a
								href="https://www.linkedin.com/in/sander-blomv%C3%A5gnes-326881146/">Linkedin</a></li>
						<li class="list-group-item">Amanuel Isak <a
								href="https://www.linkedin.com/in/amanuel-isak-4732591b8/">Linkedin</a></li>
						<li class="list-group-item">Christian Hagrupsen <a
								href="https://www.linkedin.com/in/christian-hagrupsen-50265b1a8/">Linkedin</a></li>
					</ul>




				</div>


			</div>

		</div>


	</div>
	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>