<!DOCTYPE html>
<html lang="en">

<head>
	<title>Rules</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<div class="container">
		<form id="boxed">
			<h3 style="text-align: center">About</h3>

			<div>
				<h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat nulla sit amet bibendum eleifend. Maecenas efficitur vestibulum posuere. Nunc nunc neque, venenatis in varius non, luctus in ipsum. Quisque et libero varius, lacinia est vel, fermentum nisi. Sed et erat sodales, pulvinar nisl id, dapibus ante. Donec placerat lorem ac dolor congue placerat. Sed id justo et magna imperdiet vulputate id sed orci. Nulla egestas vitae neque a ultrices. Donec pulvinar sapien eu commodo elementum. Vestibulum egestas metus at eleifend dictum.
				</h4>

				
			</div>

			
		</form>
		
	</div>
	


	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>