<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Includes the partial for the navbar -->
		<%- include('partials/navbar') %>
	</div>
	<!--Her kan vi sende push meldinger start-->
	<div class="container">
		<% if(locals.message.length> 0) { %>
			<div class="alert alert-warning">
				<%= locals.message %>
			</div>
			<% }%>
	</div>
	<!--Her kan vi sende push meldinger stop-->

	</div>
	<div class="container">
		
		

		<form id="boxed">
			<div class="container">
			<h3 class="center">Live view</h3>
			<!--On vi sende status = true så blir bilde grønt-->
			<% if(locals.constatus != false) { %>
			<img src="/img/pooltable.png" width="1000" height="600" alt=""> <!--Bilde er funnet på google-->
			<!--Ellers blir bildet grået ut med css og teksten under blir plassert midt på billiardbordet-->
			<% } else{ %>
				<img class="img-inactive" src="/img/pooltable.png" width="1000" height="600" alt=""> <!--Bilde er funnet på google-->
				<div class="centered-text">Not connected to magic billiard API</div>
				<% } %>
			

			</div>
			
		
	</form>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>