<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<div class="bg-image">
		<br>
		<br>
		<br>
		<!-- Background image -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<% if(locals.message.length> 0) { %>
							<div class="alert alert-warning">
								<%= message %>
							</div>
							<% }%>
						<!-- If user is logged in, the quick game button is active. -->
						<% if (locals.user) { %>
							<h2>
								Welcome!
							</h2>
							<p>
								To get started, use the join game button to join a game.  <br> 
								If you would like to start a game or a tournament <a href="/user/dashboard">press here</a> 
							</p>
							<br>
							<p>
							<form class="form-inline" action="/user/dashboard/joingame/" method="POST" >
								<!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
								<div class="form-group mx-sm-3 mb-2">
									<label for="tablecode" class="sr-only"></label>
									<input type="number" class="form-control" id="tablecode" placeholder="Enter the GameID">
								</div>
								<button type="submit" class="btn btn-primary mb-2">Join game</button>
							</form>
							<h6>The table ID can be found on a sticker on your table</h6>
							</p>
							<!-- If user is NOT logged in, the quick play button is inactive. -->
							<% } else { %>
								<h2>
									Welcome!
								</h2>
								<p>To get started with tracking your games please login or sign up for an account!</p>

								<p>
									<a class="btn btn-primary btn-large" href="/login">Login</a>
								</p>

								<% } %>

					</div>
				</div>
			</div>

	</div>


	<div class="footer">
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>