<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h2>
						Welcome!
					</h2>
					<p>
						To get started, use the quick play button. If you would like to start a tournament or keep track of your games. Please login or register bellow.
					</p>
					<p>
						<form class="form-inline"> <!--The desgin her was made with a bootstrap generator: https://www.layoutit.com/build-->
							<div class="form-group mx-sm-3 mb-2">
								<label for="tablecode" class="sr-only">Password</label>
								<input type="number" class="form-control" id="tablecode" placeholder="Table ID">
							  </div>
							  <button type="submit" class="btn btn-primary mb-2">Quick game</button>
						</form>
					</p>
					<p>
						<a class="btn btn-primary btn-large" href="/login">Login to start a game or a tournament</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>
					Litt om oss
				</h2>
				<p>
					Put inn noe tekst her 1 
				</p>
				<p>
					<a class="btn" href="#">Quick game</a>
				</p>

			</div>
			<div class="col-md-4">
				<h2>
					Litt om noe annet 
				</h2>
				<p>
					:)
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Litt info om x
				</h2>
				<p>
					Enda mer tekst her
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
		</div>
	</div>

	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>