<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>


	<div class="container-medium">
		<form id="boxed" action="/login" method="POST">
			<h3>Login to your account</h3>
			<!--Yellow message for a unsuccessful function-->
			<% if(messages.error) { %>
				<div class="alert alert-warning">
					<%= messages.error%>
				</div>
				<% }%>

			<!--Green message for a successful function-->
			<% if(locals.message.length) { %>
				<div class="alert alert-success">
					<%= locals.message%>
				</div>
				<% }%>

			<div>
				<h4>
					Username: 
				</h4>

				<input type="text" id="username" name="username" placeholder="Your username and NOT email" required />
			</div>

			<div>
				<h4>
					Password:
				</h4>
				<input type="password" id="pwd" name="pwd" placeholder="Your long and complex password" required />
			</div><br />

			<div>
				<button name="submit" type="submit" id="submit" data-submit="...Sending">Login</button>
			</div>
			<h4>You don't have an account? Register <a href="/register"> here</a> </h4>
		</form>
		
	</div>
				<div>
					<!-- Henter fram footer fra partials mappen -->
					<%- include('partials/footer') %>
				</div>
				<script src="/js/jquery.min.js"></script>
				<script src="/js/bootstrap.min.js"></script>
</body>

</html>