<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>


	<div class="container-medium">
		</form>
		<form id="boxed" action="/register" method="POST">
			<h3>Register a new user</h3>
			<% if(locals.message.length> 0) { %>
				<div class="alert alert-warning">
					<%= locals.message %>
				</div>
				<% }%>

					<div>
						<h4 for="username">
							Please pick a username:
						</h4>

						<input type="text" id="username" name="username" placeholder="Username" required />
					</div>
					<div>
						<h4 for="FirstName">
							First name:
						</h4>
						<input type="text" id="firstname" name="firstname" placeholder="Your first name"required />
					</div>
					<div>
						<h4 for="LastName">
							Last name:
						</h4>
						<input type="text" id="lastname" name="lastname" placeholder="Your last name"required />
					</div>

					<div>
						<h4 for="Email">
							Email:
						</h4>
						<input type="text" id="email" name="email" placeholder="Your email" required />
					</div>

					<div>
						<h4 for="pwd">
							Password:
						</h4>
						<input type="password" id="pwd" name="pwd" placeholder="Choose a strong and secure password" required onkeyup='passwordchecker();' />
					</div>
					<div>
						<h4 for="repwd">
							Retype password:
						</h4>
						<input type="password" id="repwd" name="repwd" placeholder="Retype your strong and secure password" onkeyup='passwordchecker();' required />
						<div>
							<lab name="pwdmessage" id="pwdmessage"></lab>
						</div>
					</div><br /> 
					

					<div>
						<button name="submit" type="submit" id="boxed-submit" data-submit="...Sending">Create account</button>
					</div>
		</form>
		<div>
			<!-- Henter fram footer fra partials mappen -->
			<%- include('partials/footer') %>
		</div>
		<!-- Checks if both passwords match. -->
		<script>
			
				var passwordchecker = function () {
			if (document.getElementById('pwd').value ==
				document.getElementById('repwd').value) {
					document.getElementById('pwdmessage').style.color = 'green';
				document.getElementById('pwdmessage').innerHTML = 'Passwords are matching!';
			} else {
					document.getElementById('pwdmessage').style.color = 'red';
				document.getElementById('pwdmessage').innerHTML = 'Passwords are not matching!';
			}
			
		}


		</script>
		<!--Script to disable submit button until from is valid. 
			Ref: https://stackoverflow.com/questions/49191216/how-can-i-disable-submit-button-after-required-html5-return-true-on-the-javascri-->
		<script>
			
			function disableField() {
			const invalidForm = document.querySelector('form:invalid');
			const submitBtn = document.getElementById('submit');
			if (invalidForm) {
			  submitBtn.setAttribute('disabled', true);
			} else {
			  submitBtn.disabled = false;
			}
		  }
		  
		  disableField();
		  
		  const inputs = document.getElementsByTagName("input");
		  for (let input of inputs) {
			input.addEventListener('change', disableField);
		  }
		</script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>

</html>