<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<div class="container-medium">
		</form>
		<form id="boxed" action="/register" method="POST">
			<h3>Register a new user</h3>
			<% if(locals.message.length> 0) { %>
				<div class="alert alert-warning">
					<%= locals.message %>
				</div>
				<% }%>
					<div>
						<h4 for="username">
							Please pick a username:
						</h4>

						<input type="text" id="username" name="username" placeholder="Username" required />
					</div>
					<div>
						<h4 for="FirstName">
							First name:
						</h4>
						<input type="text" id="firstname" name="firstname" placeholder="Your first name" required />
					</div>
					<div>
						<h4 for="LastName">
							Last name:
						</h4>
						<input type="text" id="lastname" name="lastname" placeholder="Your last name" required />
					</div>
					<div>
						<h4 for="Email">
							Email:
						</h4>
						<input type="email" id="email" name="email" placeholder="Your email" required />
					</div>
					<div>
						<h4 for="pwd">
							Password:
						</h4>
						<input type="password" id="pwd" name="pwd" placeholder="Choose a strong and secure password"
							pattern=".{8,24}" required title="8 to 24 characters" required
							onkeyup='passwordchecker();' />
					</div>
					<div>
						<h4 for="repwd">
							Retype password:
						</h4>
						<input type="password" id="repwd" name="repwd"
							placeholder="Retype your strong and secure password" required pattern=".{8,24}" required
							title="8 to 24 characters">
						<div>
							<lab name="pwdmessage" id="pwdmessage"></lab>
						</div>
					</div><br />
					<div>
						<lab name="validationmessage" id="validationmessage"></lab>
					</div>
					<div id="submit-div">
						<button name="submit" type="submit" id="submit" data-submit="...Sending">Create
							account</button>
					</div>
					<h4>Do you already have an account? Login <a href="/login"> here</a> </h4>
		</form>
		<div>
			<!-- Henter fram footer fra partials mappen -->
			<%- include('partials/footer') %>
		</div>
		<!-- Checks if both passwords match. -->
		<script>
			var passwordchecker = function () {
				if ((document.getElementById('pwd').value == document.getElementById('repwd').value) && (document.getElementById('pwd').value.length >= 8 && document.getElementById('repwd').value.length >= 8)) {
					document.getElementById('pwdmessage').style.color = 'green';
					document.getElementById('pwdmessage').innerHTML = 'Passwords are matching!';
					console.log('pwd length ' + document.getElementById('pwd').value.length);
					return true
				} else {
					document.getElementById('pwdmessage').style.color = 'red';
					document.getElementById('pwdmessage').innerHTML = 'Passwords are not matching or not long enough (8 characters minimum)';
					return false
				}
			}
		</script>
		<!--Script to disable submit button until from is valid. The script bellow is heavily based on the script I found on the url bellow.
			Ref: https://stackoverflow.com/questions/49191216/how-can-i-disable-submit-button-after-required-html5-return-true-on-the-javascri-->
		<script>
			function disableField() {
				const invalidForm = document.querySelector('form:invalid');
				const submitBtn = document.getElementById('submit');
				if (invalidForm) {
					submitBtn.disabled = true;
					submitBtn.style.opacity = '0.4'
					submitBtn.innerHTML = 'Please fill out the form'
					submitBtn.style.backgroundColor = 'grey'
				} 
			}
			function enableField() {
				const invalidForm = document.querySelector('form:valid');
				const submitBtn = document.getElementById('submit');
				if (invalidForm) {
					submitBtn.disabled = false;
					submitBtn.style.opacity = '1'
					submitBtn.innerHTML = 'Create account'
					submitBtn.style.backgroundColor = '#4CAF50'
				} 
			}
		</script>
		<script>
			var intervalId = window.setInterval(function () {
				var result = passwordchecker()
				if (result){
					enableField()
				}
				else{
					disableField()
				}
			}, 1500);
		</script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>

</html>