<!DOCTYPE html>
<html lang="en">

<head>
	<title>Rules</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<div class="bg-image">
		<br>
		<br>
		<br>
		<!-- Background image -->
		<div class="container">

								<ul class="list-group">
									<li class="list-group-item">1. Player 1 breaks, but who’s set up as Player 1 can be decided with a coin toss. The player who creates the game is Player 1</li>
									<li class="list-group-item">2. A player continues to play if they pot balls of their designated sort</li>
									<li class="list-group-item">3. The 8-ball can be pocketed in any pocket. All balls tied with that player must be potted before sinking the 8-ball to win</li>
									<li class="list-group-item">4. If the white ball is not present on the table, the turn is handed to the other player</li>
									<li class="list-group-item">5. Potting the opposition’s ball while also potting one of their own will not result in a foul</li>
									<li class="list-group-item">6. Pocketing the black and white ball at the same time will result in a loss</li>
								</ul>
		</div>
							

	</div>
	



	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>