<!DOCTYPE html>
<html lang="en">

<head>
	<title>Rules</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<h4 class="fa fa-align-center" aria-hidden="true">Someone should add the rules and some styling here. </h4>

	<ul class="list-group list-group-flush">
		<li class="list-group-item">1. Rule 1 </li>
		<li class="list-group-item">2. Rule 2</li>
		<li class="list-group-item">3. Rule 3</li>
		<li class="list-group-item">4. Rule 4</li>
		<li class="list-group-item">5. Rule 5</li>
	</ul>


	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>