<!DOCTYPE html>
<html lang="en">

<head>
	<title>New tournament</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>


				<div>
					<!-- Henter fram footer fra partials mappen -->
					<%- include('partials/footer') %>
				</div>
				<script src="/js/jquery.min.js"></script>
				<script src="/js/bootstrap.min.js"></script>
</body>

</html>