<!DOCTYPE html>
<html lang="en">

<head>
	<title>New tournament</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>

	<div class="container-medium">
		<form id="boxed" action="/tournament/new" method="POST">
			<h3>Create new tournament</h3>

			<!--Yellow message for a unsuccessful function-->
			<% if(messages.error) { %>
				<div class="alert alert-warning">
					<%= messages.error%>
				</div>
				<% }%>

					<div>
						<h4>Give the tournament a name</h4>
						<input type="text" name="TournamentName" class="survey_options" size="50"
							placeholder="Tournament Name" required> <br><br>
						<div id="survey_options">
							<h4>Please add all the usernames of all the players</h4>
							<input type="text" name="usernames" class="survey_options" size="50" placeholder="Username0"
								id="firstuser" value="<%= locals.username%>"required>
							<input type="text" name="usernames" class="survey_options" size="50" placeholder="Username1"
								required>
							<input type="text" name="usernames" class="survey_options" size="50" placeholder="Username2"
								required>
							<input type="text" name="usernames" class="survey_options" size="50" placeholder="Username3"
								required>

						</div>
						<div class="controls">
							<button type="button" id="add" name="button" class="btn btn-primary mb-2"
								onclick="addnew()">+</button>
							<button style="float: right " type="button" id="del" name="button" class="btn btn-danger"
								onclick="delold()">-</button> <br>
						</div>
					</div>

					<div class="submit-div">
						<button name="submit" type="submit" id="boxed-submit" onclick="submitBtn()">Create
							tournament</button>
					</div>
					<div>
						<label name="limitlabel" id="limitlabel">This gamemode is limited to 12 players</label>
					</div>

		</form>

	</div>


	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		var survey_options = document.getElementById('survey_options');
		var count = 4
		var addnew = async function () {
			if (count <= 10) {
				await add()
				await add()
			}
			else {
				var limittext = document.getElementById('limitlabel').style.color = 'red';
			}

		}

		var add = async function (){
			var newField = document.createElement('input');
				newField.setAttribute('type', 'text');
				newField.setAttribute('name', 'usernames');
				newField.setAttribute('class', 'survey_options');
				newField.setAttribute('siz', 50);
				newField.setAttribute('placeholder', `Username${count}`);
				newField.required = true;
				survey_options.appendChild(newField);
				var limittext = document.getElementById('limitlabel').style.color = 'black';
				count = count + 1
		}

		var del = async function () {
			var input_tags = survey_options.getElementsByTagName('input');
				if (input_tags.length > 1) {
					survey_options.removeChild(input_tags[(input_tags.length) - 1]);
					if (count >= 12) {
						var limittext = document.getElementById('limitlabel').style.color = 'black';
					}
					count = count - 1
				}
		}

		var delold = async function () {
			if (count > 4) {
				await del()
				await del()
			}

		}

		var submitBtn = function () {
			document.getElementById("boxed").submit();
		}


	</script>

</body>

</html>