<!DOCTYPE html>
<html lang="en">

<head>
	<title>How to start</title>
	<link href="/css/main.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<!-- Henter fram navbaren fra partials mappen -->
		<%- include('partials/navbar') %>
	</div>
	<div class="bg-image">
		<br>
		<br>
		<br>
		<!-- Background image -->
		<div class="container-mediumlarge">
			<div id="boxed">
	
				<div>

				
					<h3 style="text-align: center">How to create a game</h3>
					<ul class="list-group">
						<li class="list-group-item">1. Create an account or login by pressing the button in the top right corner.</li>
						<li class="list-group-item">2. Find the TableID on your table. </li>
						<li class="list-group-item">3. On your profile page enter the tableID you found in step 2 and press "Create game".</li>
						<li class="list-group-item">4. You will be provided with a gameID that the second player can use to join the game.".</li>
						<li class="list-group-item">5. After the second player has joined, you can press the start game button to start the game.".</li>
					</ul>
					<br>
				
					<h3 style="text-align: center">How to join a game</h3>
					<ul class="list-group">
						<li class="list-group-item">1. Create an account or login by pressing the button in the top right corner.</li>
						<li class="list-group-item">3. On your profile page enter the gameID  and press "Join game".</li>
						<li class="list-group-item">3. You should now be in a lobby with the other player and can start the game.</li>
					</ul>
	
	
	
					
				</div>
	
				
			</div>
			
		</div>
	</div>
	<div>
		<!-- Henter fram footer fra partials mappen -->
		<%- include('partials/footer') %>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>